body {
  font-size: 2em;
  font-family: sans-serif;

}

.msg {
  text-align: center;
  margin-top: 1em;
}

.roll{
  margin-top: 1em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
